$main-color: rgb(239, 13, 34);
$secondary-color: #fa5400;
$primary-font: 'lato-r', 'sans-serif';

/* FONTS */
$lato-b: 'lato-b';
$avenir-m: 'avenir-m';
$avenir-r: 'avenir-r';

/* FONT WEIGHT */
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
