<div class="container" *ngIf="allProducts$ | async as allProducts; else spinner">
    <div *ngIf="allProducts.products.length; else empty">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of allProducts.products">
                <app-product-item [product]="product"></app-product-item>
            </div>
        </div>

        <div class="products-footer" *ngIf="allProducts.pager as pager;">
            <ul class="pagination pg-blue" *ngIf="pager?.pages && pager?.pages?.length > 1">
                <li class="page-item" *ngIf="pager.currentPage !== 1">
                    <a [routerLink]="['/products']" [queryParams]="{ page: pager.currentPage - 1 }"
                        queryParamsHandling="merge" class="page-link">
                        <span aria-hidden="true" class="fas fa-long-arrow-alt-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item number-item" *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage === page}">
                    <a [routerLink]="['/products']" [queryParams]="{ page: page }" queryParamsHandling="merge"
                        class="page-link">{{page}}
                    </a>
                </li>
                <li class="page-item" *ngIf="pager.currentPage !== pager.totalPages">
                    <a [routerLink]="['/products']" [queryParams]="{ page: pager.currentPage + 1 }"
                        queryParamsHandling="merge" class="page-link">
                        <span aria-hidden="true" class="fas fa-long-arrow-alt-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <ng-template #empty>
        {{'Shared.emptyData' | translate}}
    </ng-template>
</div>

<ng-template #spinner>
    <app-data-loader></app-data-loader>
</ng-template>
