<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 footer__wrapper">
                <nav class="col-lg-3">
                    <h4>Customer Support</h4>
                    <ul>
                        <li>
                            <a href="#">Shipping & Delivery</a>
                        </li>
                        <li>
                            <a href="#">Return Policy</a>
                        </li>
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-lg-3">
                    <h4>Corporate Links</h4>
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-lg-3">
                    <h4>Contact</h4>
                    <ul>
                        <li>
                            <mdb-icon fas icon="phone"></mdb-icon>
                            <a href="#" href="tel:+99999999999">(201)431-9463</a>
                        </li>
                        <li>
                            <mdb-icon far icon="envelope"></mdb-icon>
                            <a href="mailto:admin@gmail.com">Orders@Packershoes.com</a>
                        </li>
                        <li>
                            <mdb-icon fas icon="map-marker-alt"></mdb-icon>
                            <a href="#">Locations</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-lg-3 footer__social">
                    <h4>Follow Us</h4>
                    <ul>
                        <li>
                            <mdb-icon fab icon="facebook-square"></mdb-icon>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <mdb-icon fab icon="twitter-square"></mdb-icon>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <mdb-icon fab icon="instagram"></mdb-icon>
                            <a href="#">Instagram</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-lg-3 footer__social-none">
                    <a href="#">
                        <mdb-icon fab icon="instagram"></mdb-icon>
                    </a>
                    <a href="#">
                        <mdb-icon fab icon="twitter-square"></mdb-icon>
                    </a>
                    <a>
                        <mdb-icon fab icon="facebook-square"></mdb-icon>
                    </a>
                </nav>
            </div>
        </div>
        <div class="footer__copyright">
                Copyright 2019 <a href="https://www.linkedin.com/in/rudolfklikh/" target="_blank">Rudolf Klikh</a> &
                <a href="https://www.linkedin.com/in/vitalii-burakovskyy-a6333417a/" target="_blank">Vitalii Burakovskyy</a>
        </div>
    </div>
</footer>
