<!DOCTYPE html>
<html>

<head>
    <title>Verification</title>
    <meta charset="utf-8" />
</head>

<body>


    <h3>Hi, <%=fio %></h3>
    <p>Here your <a href="<%=path %><%=token %>">
        verification link
    </a></p>
</body>
<html>
