<div class="product-container">
    <mat-icon class="close-button" [mat-dialog-close]="true"><i class="fas fa-times"></i></mat-icon>
    <div class="container">
        <form [formGroup]="addProductForm">
            <div class="row">
                <!-- Title field -->
                <div class="col-8">
                    <mat-form-field class="form-field">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" formControlName="title">
                        <button mat-button *ngIf="controls.title.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="controls.title.setValue('');">
                            <mat-icon>
                                <i class="fas fa-times"></i>
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="controls.title.invalid && controls.title.dirty || controls.title.invalid && controls.title.touched">
                            <span *ngIf="controls.title.errors['required']">
                                Title is <strong>required</strong>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Category field -->
                <div class="col-4">
                    <mat-form-field class="form-field">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            <mat-option *ngFor="let category of availableCategories" [value]="category">
                                {{ category }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="controls.category.invalid && controls.category.dirty || controls.category.invalid && controls.category.touched">
                            <span *ngIf="controls.category.errors['required']">
                                Category is <strong>required</strong>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- Price field -->
                <div class="col-4">
                    <mat-form-field class="form-field">
                        <mat-label>Price</mat-label>
                        <input matInput type="text" formControlName="price" (ngModelChange)="checkSalePrice('price');">
                        <button mat-button *ngIf="controls.price.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="controls.price.setValue('');">
                            <mat-icon>
                                <i class="fas fa-times"></i>
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="controls.price.invalid && controls.price.dirty || controls.price.invalid && controls.price.touched">
                            <span *ngIf="controls.price.errors['required']">
                                Price is <strong>required</strong>
                            </span>
                            <span *ngIf="controls.price.errors['pattern']">
                                Price can contain only <strong>numbers</strong>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Price field -->
                <div class="col-4">
                    <mat-form-field class="form-field">
                        <mat-label>Sale</mat-label>
                        <mat-select formControlName="sale" (ngModelChange)="saleChanged($event);">
                            <mat-option *ngFor="let sale of saleOptions" [value]="sale">
                                {{ sale }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="controls.sale.invalid && controls.sale.dirty || controls.sale.invalid && controls.sale.touched">
                            <span *ngIf="controls.price.errors['required']">
                                Sale is <strong>required</strong>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Sale price filed -->
                <div class="col-4">
                    <mat-form-field  class="form-field">
                        <mat-label>Sale price</mat-label>
                        <input disabled matInput type="text" formControlName="salePrice" (ngModelChange)="checkSalePrice('salePrice');">
                        <button mat-button *ngIf="controls.salePrice.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="controls.salePrice.setValue('');">
                            <mat-icon>
                                <i class="fas fa-times"></i>
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="controls.salePrice.invalid && controls.salePrice.dirty || controls.salePrice.invalid && controls.salePrice.touched">
                            <span *ngIf="controls.salePrice.errors['required']">
                                Sale price is <strong>required</strong>
                            </span>
                            <span *ngIf="controls.salePrice.errors['pattern']">
                                Sale price can contain only <strong>numbers</strong>
                            </span>
                            <span *ngIf="controls.salePrice.errors['greaterThanRegular']">
                                Sale price is greater or equal than <strong>normal price</strong>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- Main image field -->
                <div class="col-8">
                    <mat-form-field class="form-field">
                        <mat-label>Main Image</mat-label>
                        <input matInput type="text" formControlName="mainImage">
                        <button mat-button *ngIf="controls.mainImage.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="controls.mainImage.setValue('');">
                            <mat-icon>
                                <i class="fas fa-times"></i>
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="controls.mainImage.invalid && controls.mainImage.dirty || controls.mainImage.invalid && controls.mainImage.touched">
                            <span *ngIf="controls.price.errors['required']">
                                Main image is <strong>required</strong>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Gender field -->
                <div class="col-4">
                    <mat-form-field class="form-field">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gender of availableGenders" [value]="gender">
                                {{ gender }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="controls.gender.invalid && controls.gender.dirty || controls.gender.invalid && controls.gender.touched">
                            <span *ngIf="controls.price.errors['required']">
                                Gender is <strong>required</strong>
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            <div class="row">
                <!-- Colors field -->
                <div class="col-4">
                    <div class="group-row" [formGroup]="color" *ngFor="let color of controls.colors.controls; let i = index;">
                        <span class="group-row__counter">
                            {{ i + 1}}
                        </span>
                        <button class="group-row__remove" mat-icon-button [disabled]="controls.colors.controls.length <= 1" (click)="removeFormRow('colors', i);">
                            <mat-icon><i class="fas fa-minus-circle"></i></mat-icon>
                        </button>
                        <mat-form-field class="form-field">
                            <mat-label>Color name</mat-label>
                            <input matInput type="text" formControlName="name" maxlength="20">
                            <button mat-button *ngIf="color.value.name" matSuffix mat-icon-button aria-label="Clear"
                                (click)="color.controls.name.setValue('');">
                                <mat-icon>
                                    <i class="fas fa-times"></i>
                                </mat-icon>
                            </button>
                            <mat-hint align="end">{{color?.controls?.name?.value?.length}} / 20</mat-hint>
                            <mat-error *ngIf="color.controls.name.invalid && color.controls.name.dirty || color.controls.name.invalid && color.controls.name.touched">
                                <span *ngIf="color.controls.name.errors['required']">
                                    Color name is <strong>required</strong>
                                </span>
                                <span *ngIf="color.controls.name.errors['pattern']">
                                    Color name can contain only <strong>letters</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field">
                            <mat-label>Color</mat-label>
                            <input matInput type="text" formControlName="primary" maxlength="7" minlength="7">
                            <button mat-button *ngIf="color.value.primary" matSuffix mat-icon-button aria-label="Clear"
                                (click)="color.controls.primary.setValue('');">
                                <mat-icon>
                                    <i class="fas fa-times"></i>
                                </mat-icon>
                            </button>
                            <mat-hint align="end">{{color?.controls?.primary?.value?.length}} / 7</mat-hint>
                            <mat-error *ngIf="color.controls.primary.invalid && color.controls.primary.dirty || color.controls.primary.invalid && color.controls.primary.touched">
                                <span style="display: block" *ngIf="color.controls.primary.errors['required']">
                                    Color is <strong>required</strong>
                                </span>
                                <span style="display: block" *ngIf="color.controls.primary.errors['pattern']">
                                    Color should be like<strong>#F0F0F0</strong>
                                </span>
                                <span style="display: block" *ngIf="color.controls.primary.errors['minlength']">
                                    Color min length is <strong>7</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" style="margin-top: 15px;" (click)="addFormRow('colors');">Add color row</button>
                </div>

                <!-- Sizes field -->
                <div class="col-4">
                    <div class="group-row" [formGroup]="size" *ngFor="let size of controls.sizes.controls; let i = index;">
                        <span class="group-row__counter">
                            {{ i + 1}}
                        </span>
                        <button class="group-row__remove" mat-icon-button [disabled]="controls.sizes.controls.length <= 1" (click)="removeFormRow('sizes', i);">
                            <mat-icon><i class="fas fa-minus-circle"></i></mat-icon>
                        </button>
                        <mat-form-field class="form-field">
                            <mat-label>Size</mat-label>
                            <input matInput type="text" formControlName="size" maxlength="2" minlength="2">
                            <button mat-button *ngIf="size.value.size" matSuffix mat-icon-button aria-label="Clear"
                                (click)="size.controls.size.setValue('');">
                                <mat-icon>
                                    <i class="fas fa-times"></i>
                                </mat-icon>
                            </button>
                            <mat-hint align="end">{{size?.controls?.size?.value?.length}} / 2</mat-hint>
                            <mat-error *ngIf="size.controls.size.invalid && size.controls.size.dirty || size.controls.size.invalid && size.controls.size.touched">
                                <span style="display: block" *ngIf="size.controls.size.errors['required']">
                                    Size is <strong>required</strong>
                                </span>
                                <span style="display: block" *ngIf="size.controls.size.errors['pattern']">
                                    Size can contain only <strong>numbers</strong>
                                </span>
                                <span style="display: block" *ngIf="size.controls.size.errors['minlength']">
                                    Size should contain <strong>2 numbers</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field">
                            <mat-label>Quantity</mat-label>
                            <input matInput type="text" formControlName="quantity" maxlength="4">
                            <button mat-button *ngIf="size.value.quantity" matSuffix mat-icon-button aria-label="Clear"
                                (click)="size.controls.quantity.setValue('');">
                                <mat-icon>
                                    <i class="fas fa-times"></i>
                                </mat-icon>
                            </button>
                            <mat-hint align="end">{{size?.controls?.quantity?.value?.length}} / 4</mat-hint>
                            <mat-error *ngIf="size.controls.quantity.invalid && size.controls.quantity.dirty || size.controls.quantity.invalid && size.controls.quantity.touched">
                                <span style="display: block" *ngIf="size.controls.quantity.errors['required']">
                                    Size quantity is <strong>required</strong>
                                </span>
                                <span style="display: block" *ngIf="size.controls.quantity.errors['pattern']">
                                    Size quantity can contain only <strong>numbers</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" style="margin-top: 15px;" (click)="addFormRow('sizes');">Add size row</button>
                </div>

                <!-- Images field -->
                <div class="col-4">
                    <div class="group-row" [formGroup]="image" *ngFor="let image of controls.slides.controls; let i = index;">
                        <mat-form-field class="form-field">
                            <mat-label>Small image url</mat-label>
                            <input matInput type="text" formControlName="imageUrl">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            </div>
        </form>
        <button mat-raised-button color="primary" type="button" style="margin-top: 20px;" (click)="createOrUpdateProduct();" [disabled]="addProductForm.invalid">
            <span *ngIf="isEditing">
                Update product
            </span>
            <span *ngIf="!isEditing">
                Create new product
            </span>
        </button>
    </div>
</div>
