<div class="btn-group" mdbDropdown>
    <a mdbDropdownToggle mdbWavesEffect type="button" class="dropdown-toggle waves-light" mdbWavesEffect
        style="height: auto; width: 30px">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt=""
            class="img-fluid rounded-circle z-depth-0"></a>
    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" routerLink="profile-details">
            {{ "Profile.details" | translate }}
        </a>
    </div>
</div>
