@import '../../styles/variables.scss';

.navbar__container {
    align-items: center;
}

.nav-item {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 12px;
}

.nav-link__activated,
.nav-link__effect:hover {
    color: $main-color !important;
}

.nav-item__container {
    position: relative;
}

.button-close__image {
    transition: all .3s ease-in-out;
    background-image: url('../../../assets/images/close-button.svg')!important;
}

.icon-counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: $avenir-r !important;
    top: 0;
    right: 0;
    font-size: 11px;
    background-color: $main-color;
    color: #ffffff;
    min-height: 15px;
    min-width: 15px;
    border-radius: 50%;
}

.cart-products {
    transition: visibility 0s ease .4s, opacity .2s ease .2s, transform .2s ease .2s;
    transform: translate(0, 1px);
    position: absolute;
    letter-spacing: 0;
    text-transform: none;
    opacity: 0;
    visibility: hidden;
    width: 400px;
    right: 10px;
    top: 30px;
    transform: translate(0, -10px);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    z-index: 100;

    strong {
        font-weight: bold;
    }

    &__content {
        max-height: 20rem;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
    }

    &__item {
        position: relative;
        margin-bottom: 20px;

        .item-image {
            width: 100%;
            transition: opacity .2s ease;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: inline-block;
        width: 100%;
        color: black;
        &:hover {
            .item-image {
                opacity: .8;
            }
            color: inherit;
        }
    }

    &__remove {
        &:hover {
            scale: 1.2;
        }
        position: absolute;
        top: -5px;
        right: -5px;
        transition: scale .25s ease;
        background-color: transparent;
        border: none;
        font-size: 16px;
    }

    &__footer {
        padding: 15px 10px;
        background-color: #f4f4f4;

        .price {
            text-align: left;
            &__title {
                color: rgba(0,0,0,.5);
                font-size: 13px;
            }

            &__number {
                font-size: 14px;
                font-family: $avenir-m;
            }
        }
    }

    .item-description {
        margin-left: 15px;

        .title, .price, .size {
            font-size: 13px;
            margin-bottom: 5px;
        }

        .size {
            color: rgba(0,0,0,.5)
        }
    }
}
.nav__showHide-menu {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #ffffff;
    bottom: -150%;
    z-index: 11;
    font-family: $avenir-r !important;
    box-shadow: 0px 30px 41px -17px rgba(0,0,0,0.33);

    &-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    & a {
        color: black;
    }
    & ul {
        display: flex;
    }
    & li {
        list-style-type: none;
    }

    & h1 {
        font-weight: 400;
        letter-spacing: .5px;
        font-size: 16px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 16px;
        display: block;
    }
    & img {
        width: 30px;
    }
}

.cart:not(.empty):hover > .cart-products {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 10px);
    transition: all .2s ease-in-out .2s;
}


@media only screen and (max-width: 575.98px) {
    .navbar-sm {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .nav__showHide-menu {
        bottom: -75%;
    }

    .navbar-nav__sm {
        margin-left: 0;
        width: 100%;
        justify-content: space-around;
    }

    .navbar-toggler__sm {
        display: flex;
    }

    .navbar-toggler__md {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .navbar-toggler__sm {
        display: none;
    }

    .navbar-toggler__md {
        display: flex;
    }
    .nav__showHide-menu {
        bottom: -95%;
    }
}
@media only screen and (max-width: 767px) {
    .flex__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-nav__lg {
        order: 2;
    }
    .nav__showHide-menu {
        bottom: -150%;
    }
}
@media only screen and (max-width: 393px) {
    .nav__showHide-menu {
        bottom: -70%;
    }
}

