@import '../../styles/variables.scss';


.nav-link__activated,
.nav-link__effect:hover {
    color: $main-color !important;
}

.nav-item__container {
    position: relative;
}

.button-close__image {
    transition: all .3s ease-in-out;
    background-image: url('../../../assets/images/close-button.svg')!important;
}

.icon-counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;;
    top: 0;
    right: 0;
    font-size: 11px;
    background-color: $main-color;
    color: #ffffff;
    min-height: 15px;
    min-width: 15px;
    border-radius: 50%;
}

@media only screen and (max-width: 575.98px) {
    .navbar-sm {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .navbar-nav__sm {
        margin-left: 0;
        width: 100%;
        justify-content: space-around;
    }

    .navbar-toggler__sm {
        display: flex;
    }

    .navbar-toggler__md {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .navbar-toggler__sm {
        display: none;
    }

    .navbar-toggler__md {
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-nav__lg {
        order: 2;
    }
}

