<mdb-navbar SideClass="navbar navbar-light navbar-expand-md fixed-top white scrolling-navbar top-nav-collapse">
    <mdb-navbar-brand>
        <a class="navbar-brand">
            <!-- TODO Change Logo image on our own -->
            <img src="../../../assets/images/logo.svg" alt="Logo image">
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav-link__effect">New Arrivals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link__effect">Brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link__effect">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link__effect">Clothes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link__effect">Accessories</a>
            </li>
        </ul>
    </links>
    <!-- Always visible links -->
    <ul class="nav navbar-nav nav-flex-icons ml-auto lg-order">
        <li class="nav-item">
            <a class="nav-link nav-link__effect">
                <mdb-icon far icon="star" size="lg"></mdb-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link__effect">
                <mdb-icon fas icon="search" size="lg"></mdb-icon>
            </a>
        </li>
        <li class="nav-item nav-item__container">
            <a class="nav-link nav-link__effect">
                <mdb-icon class="icon-container" fas icon="shopping-cart" size="lg">
                </mdb-icon>
                <span class="icon-counter">
                    <!-- TODO This counter should be replaced by real value -->
                    10
                </span>
            </a>
        </li>
    </ul>
</mdb-navbar>
