<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-wrapper">
                <h4 class="form-title">
                    {{ 'Order.title' | translate }}
                </h4>
                <form [formGroup]="orderForm" class="form-ordering">

                    <div class="md-form">
                        <input mdbInput type="text" id="city" class="form-control" formControlName="city">
                        <label for="city">
                            {{ 'Order.city' | translate }}
                        </label>

                        <div *ngIf="city.invalid && city.dirty || city.invalid && city.touched">
                            <mdb-error *ngIf="city.errors['required']">
                                Required field
                            </mdb-error>
                        </div>
                    </div>

                    <div class="md-form">
                        <input mdbInput type="text" id="address" class="form-control" formControlName="address">
                        <label for="address">
                            {{ 'Order.address' | translate }}
                        </label>

                        <div *ngIf="city.invalid && city.dirty || city.invalid && city.touched">
                            <mdb-error *ngIf="city.errors['required']">
                                Required field
                            </mdb-error>
                        </div>
                    </div>

                    <div class="md-form">
                        <input mdbInput type="text" id="index" class="form-control" formControlName="index">
                        <label for="index">
                            {{ 'Order.postindex' | translate }}
                        </label>

                        <div *ngIf="index.invalid && index.dirty || index.invalid && index.touched">
                            <mdb-error *ngIf="index.errors['required']">
                                Required field
                            </mdb-error>
                        </div>
                    </div>

                    <button (click)="placeOrder();" [disabled]="orderForm.invalid" class="w-100" type="button" mdbBtn color="dark" mdbWavesEffect>
                        {{ 'Order.title' | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
