<a class="product-wrapper" [routerLink]="!frozenWrapper ? ['/product', product._id] : []" [queryParamsHandling]="'merge'">
    <div class="product-image" [ngStyle]="{'background': getUrl()}">
        <div class="product-favorite" (mouseover)="freezeWrapper();" (mouseleave)="unfreezeWrapper();">
            <button type="button" (click)="toggleFavorite(product);">
                <i class="fa-star" [ngClass]="{'fas': isFavorite, 'far': !isFavorite, 'filled': isFavorite}"></i>
            </button>
        </div>
        <div class="product-sale" *ngIf="product.sale">
            Sale
        </div>
    </div>
    <div class="product-description">
        <h5 class="product-description__title">
            {{ product.title }}
        </h5>
        <div class="product-description__price">
            <span [ngClass]="{sale: product.sale}">{{ product.price | currencyConverter | async }}</span>
            <br>
            <span *ngIf="product.sale">{{ product.salePrice | currencyConverter | async }}</span>
        </div>
    </div>
</a>

