<div class="screen-container">
    <div class="top">
        <img class="left-bracket" src="../../../../assets/images/screens/left-bracket.svg" alt="">
        <img class="center-image" src="../../../../assets/images/screens/404.svg" alt="">
        <img class="right-bracket" src="../../../../assets/images/screens/right-bracket.svg" alt="">
    </div>
    <div class="screen-divider"></div>
    <div class="bottom">
        <h4>{{"Screens.404.title" | translate }}</h4>
        <p>{{"Screens.404.desc" | translate }}</p>
    </div>
</div>
