<section class="container-fluid">
    <!-- 1 ROW -->
    <div class="row grid-row">
        <div class="col-12 grid-row__item" appImageGrid>
            <img src="http://cdn.shopify.com/s/files/1/0208/5268/files/ellesse-ww-banner.jpeg?v=1571507565" alt="shoes"
                title="shoes">
            <a class="grid-row__link">
                <div class="grid-row__link-description">
                    <h2 class="grid-row__h2"> ELLESSE X WOOD WOOD </h2>
                    <button class="grid-row__button">
                        {{ 'Shared.shopNow' | translate }}
                    </button>
                </div>
            </a>
        </div>
    </div>

    <!-- 2 ROW -->
    <div class="row grid-row">
        <div *ngFor="let item of secondGridRow" class="col-lg-4 col-md-4 col-xs-12 col-sm-12 grid-row__item" appImageGrid>
            <img src="{{item.imgUrl}}" alt="Product Image">
            <a class="grid-row__link">
                <div class="grid-row__link-description">
                    <h3 class="grid-row__h3">
                        {{ item.title }}
                    </h3>
                    <button class="grid-row__button">
                        {{ 'Shared.shopNow' | translate }}
                    </button>
                </div>
            </a>
        </div>
    </div>

    <!-- 3 ROW -->
    <div class="row grid-row">
        <div *ngFor="let item of thirdGridRow" class="col-lg-6 col-md-6 col-xs-12 col-sm-12 grid-row__item"  appImageGrid>
            <img src="{{item.imgUrl}}" alt="Produc Image">
            <a class="grid-row__link">
                <div class="grid-row__link-description">
                    <h3 class="grid-row__h3">
                        {{ item.title }}
                    </h3>
                    <button class="grid-row__button">
                        {{ 'Shared.shopNow' | translate }}
                    </button>
                </div>
            </a>
        </div>
    </div>
</section>
