@import '../../../styles/variables.scss';

.dumb__row {
    padding-top: 15px;
    padding-bottom: 15px;
}


.dumb__img {
    width: 100%;
    transition: 0.3s all ease-in-out;

    &:hover {
        opacity: .8;
    }
}
.img__title {
    font-size: 12px;
    font-family:  $avenir-r;
}
.dumb_title {
    text-align: center;
    font-size: 19px;
    font-family:  $avenir-r;
}
.dumb__error {
    text-align: center;
    font-family: $avenir-r;
    font-size: 19px;
}
.dumb__link {
    width: 100%;
    text-align: right;

    & a {
        color: #000000;
        font-family: $avenir-r;
    }
}


@media only screen and (max-width: 575) {
    ю.dumb__row {
        display: flex;
        flex-direction: column;
    }
}
