<div class="container-fluid" *ngIf="product$ | async as product; else loading">
    <div class="row">
        <div class="col-md-1">
            <div class="product-slides">
                <ul class="product-slides__list">
                    <li class="product-slides__list-item" *ngFor="let item of product?.slides">
                        <img [src]="item.imageUrl" [ngClass]="{active: item.imageUrl === productViewImage}"
                            (click)="changeProductView(item.imageUrl);" alt="Product Image" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="product-view">
                <img [src]="productViewImage" alt="Product main Image" class="imagePreview">
                <div class="gradients" *ngIf="inited">
                    <div
                        class="gradient"
                        *ngFor="let color of product?.colors"
                        [attr.color]="color.name"
                        [style.background-color]="color.primary"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-wrapper">
                    <h3 class="product-title">
                        {{ product?.title }}
                    </h3>
                <p class="product-price">
                    <span [ngClass]="{sale: product?.sale}">{{ product?.price | currencyConverter | async }}</span>
                    <br>
                    <span *ngIf="product?.sale">{{ product.salePrice | currencyConverter | async }}</span>
                </p>
                <div class="product-size">
                    <div class="product-size__header">
                        <p class="title">
                            {{ "Product.size" | translate }}
                        </p>
                        <a class="size-guide" [routerLink]="'/size-guide'" target="_blank">
                            {{ "Product.sizeGuide" | translate }}
                        </a>
                    </div>
                    <div class="size-wrapper">
                        <label *ngFor="let size of product?.sizes" [for]="size.size">
                            <div *ngIf="size.quantity > 0">
                                <input [id]="size.size" [value]="size.size" type="radio" name="radio"
                                (ngModelChange)="sizeChanged($event, product);" [(ngModel)]="sizeChoice" />
                            <div class="size-box">
                                <span class="size-number">{{ size.size }}</span>
                            </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="product-color">
                    <div class="title">
                        {{ "Product.color" | translate }}
                    </div>
                    <div class="colors">
                        <span
                            *ngFor="let color of product?.colors"
                            (click)="changeColor($event);" class="color"
                            [attr.primary]="color.primary"
                            [attr.color]="color.name"
                            [style.backgroundColor]="color.primary"
                            [style.border-color]="color.primary"></span>
                    </div>
                </div>
                <div class="product-quantity">
                    <div class="title">
                        {{ "Product.quantity" | translate }}
                    </div>
                    <div class="product-quantity__button" [ngClass]="{disabled: !sizeChoice}">
                        <button type="button" (click)="decreaseQuantity();" class="button"
                            [disabled]="productQuantity <= 1">
                            <i class="fas fa-minus fa-xs"></i>
                        </button>
                        <input type="text" [(ngModel)]="productQuantity" class="quantity-input">
                        <button type="button" class="button" (click)="increaseQuantity();"
                            [disabled]="productQuantity >= productMaxPosibleQuantity">
                            <i class="fas fa-plus fa-xs"></i>
                        </button>
                    </div>
                </div>


                <div class="product-add">
                    <button [disabled]="!sizeChoice || !selectedColor" (click)="addToBag(product, sizeChoice, productQuantity, selectedColor);"
                        type="button" mdbBtn color="dark" mdbWavesEffect
                        class="w-100 m-0">{{ "Product.addToCart" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-data-loader></app-data-loader>
</ng-template>
