<section class="container-fluid contact">
    <div class="container contact__container">
        <div class="row">
            <div class="col-12 contact__col">
                <h2>{{"Contact.title" | translate}}</h2>
                <p>
                    {{ "Contact.descriptionOne" | translate }}
                    <br>
                    {{ "Contact.descriptionTwo" | translate }}
                </p>
                <div class="contact__block">
                    <input class="contact__input" type="email" placeholder="Email">
                    <button class="contact__button">
                        {{"Shared.subscribe" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
