<section class="container-fluid contact">
    <div class="container contact__container">
        <div class="row">
            <div class="col-12 contact__col">
                <h2>Stay in the know</h2>
                <p>Sign up for emails to get the latest on upcoming releases,<br>
                    new arrivals, sales and more.</p>
                <div class="contact__block">
                    <input class="contact__input" type="email" placeholder="Your email">
                    <button class="contact__button">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
</section>
