<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">
            <div class="form-wrapper">
                <header class="login-header">
                    <h1 class="login-header__title">
                        {{ 'Authentication.login' | translate }}
                    </h1>
                    <hr class="hr__small">
                </header>
                <section class="login-form">
                    <form [formGroup]="loginForm">
                        <div class="md-form">
                            <input mdbInput type="text" id="email" class="form-control" formControlName="email">
                            <label for="email">
                                {{ 'Authentication.login' | translate }}
                            </label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="password" id="password" class="form-control" formControlName="password">
                            <label for="password">
                                {{ 'Authentication.password' | translate }}
                            </label>
                        </div>
                        <button [disabled]="loginForm.invalid" class="w-100" type="button" mdbBtn color="dark" mdbWavesEffect (click)="loginIn();">
                            <span [hidden]="userIsLoading$ | async">
                                {{ 'Authentication.signIn' | translate }}
                            </span>
                            <mdb-icon *ngIf="userIsLoading$ | async" fas icon="spinner" class="animated rotateOut infinite">
                            </mdb-icon>
                        </button>
                    </form>

                </section>
                <footer class="login-footer">
                    <a class="login-footer__link" routerLink="/registration">
                        {{ 'Authentication.createAccount' | translate }}
                    </a>
                    <a class="login-footer__link" routerLink="/main">
                        {{ 'Store.backToStore' | translate }}
                    </a>
                </footer>
            </div>
        </div>
    </div>
</div>
