@import "../../styles/variables.scss";
:host {
    display: flex;
}

.nav-item__container {
    position: relative;
}

.products {
	strong {
		font-weight: bold;
	}

	&__content {
		max-height: 20rem;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 10px;
	}

	&__item {
		position: relative;
		margin-bottom: 20px;

		.item-image {
			width: 100%;
			transition: opacity 0.2s ease;
		}

		&:last-child {
			margin-bottom: 10px;
		}
	}

	&__link {
		display: inline-block;
		width: 100%;
		color: black;
		&:hover {
			.item-image {
				opacity: 0.8;
			}
			color: inherit;
		}
	}

	&__remove {
		&:hover {
			scale: 1.2;
		}
		position: absolute;
		top: -5px;
		right: -5px;
		transition: scale 0.25s ease;
		background-color: transparent;
		border: none;
		font-size: 16px;
	}

	&__footer {
		padding: 15px 10px;
		background-color: #f4f4f4;

		.price {
			text-align: left;
			&__title {
				color: rgba(0, 0, 0, 0.5);
				font-size: 13px;
			}

			&__number {
				font-size: 14px;
				font-family: $avenir-m;
			}
		}
	}

	&__item-description {
		margin-left: 15px;

		.title,
		.price,
		.size {
			font-size: 13px;
			margin-bottom: 5px;
		}

		.size {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}

.cart-products,
.favorite-products {
    transition: visibility 0s ease .4s, opacity .2s ease .2s, transform .2s ease .2s;
    transform: translate(0, 1px);
    position: absolute;
    letter-spacing: 0;
    text-transform: none;
    opacity: 0;
    visibility: hidden;
    width: 400px;
    right: 10px;
    top: 30px;
    transform: translate(0, -10px);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    z-index: 100;
}

.cart:not(.empty):hover > .cart-products,
.favorite:not(.empty):hover >.favorite-products {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 10px);
    transition: all .2s ease-in-out .2s;
}

.icon-counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $avenir-r !important;
    top: 0;
    right: 0;
    font-size: 11px;
    background-color: $main-color;
    color: #ffffff;
    min-height: 15px;
    min-width: 15px;
    border-radius: 50%;
    letter-spacing: 0;
}
