<li class="nav-item nav-item__container favorite" [ngClass]="{empty: emptyFavorites}">
    <a class="nav-link nav-link__effect" [ngClass]="{disabled: emptyFavorites}">
        <mdb-icon far icon="star" size="lg"></mdb-icon>
        <span class="icon-counter" *ngIf="!emptyFavorites">
            {{ favoritesLength$ | async }}
        </span>
    </a>
    <div class="favorite-products">
        <div class="products__content">
            <div class="products__list">
                <div class="products__item" *ngFor="let product of favoriteProducts">
                    <a [routerLink]="['/product', product.id]" class="products__link">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img class="item-image" [src]="product.slides[0].imageUrl" alt="Product Image">
                            </div>
                            <div class="col-7">
                                <div class="products__item-description">
                                    <h4 class="title">
                                        {{ product.title }}
                                    </h4>
                                    <p class="price">
                                        <span>{{ product.price | currencyConverter | async }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button class="products__remove" (click)="remoteFromFavorite(product);" type="button">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</li>

<li class="nav-item nav-item__container cart" [ngClass]="{empty: emptyCart}">
    <a class="nav-link nav-link__effect" [ngClass]="{disabled: emptyCart}">
        <mdb-icon class="icon-container" fas icon="shopping-cart" size="lg"></mdb-icon>
        <span class="icon-counter" *ngIf="!emptyCart">
            {{ cartLength$ | async }}
        </span>
    </a>
    <!-- Cart Products -->
    <div class="cart-products">
        <div class="products__content">
            <div class="products__list">
                <div class="products__item" *ngFor="let product of cartProducts">
                    <a class="products__link">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img class="item-image" [src]="product.slides[0].imageUrl" alt="Product Image">
                            </div>
                            <div class="col-7">
                                <div class="products__item-description">
                                    <h4 class="title">
                                        {{ product.title }}
                                    </h4>
                                    <p class="price">
                                        <span>{{ product.price | currencyConverter | async }}</span>
                                        <span> x </span>
                                        <span>
                                            <strong>{{ product.quantity }}</strong>
                                        </span>
                                    </p>
                                    <p class="size">{{ product.size }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button class="products__remove" (click)="removeFromCart(product);" type="button">
                        <i class="far fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="products__footer">
            <div class="row no-gutters w-100 d-flex align-items-center">
                <div class="col-4">
                    <div class="price">
                        <span class="price__title">
                            {{ "Header.total" | translate }}
                        </span>
                        <br>
                        <span class="price__number">
                            <strong>{{ cartPrice$ | async | currencyConverter | async }}</strong>
                        </span>
                    </div>
                </div>
                <div class="col-8">
                    <button type="button" (click)="makeOrder();" mdbBtn color="dark" class="w-100" mdbWavesEffect>
                        Maker order
                    </button>
                </div>
            </div>
        </div>
    </div>
</li>
