@import '../../styles/variables.scss';

:host {
	margin-top: 2rem;
}

.order {
    &-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
        transition: transform .35s ease-in-out;
        padding: 20px;
        margin-bottom: 20px;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    &-title {
        margin-bottom: 0;
        font-weight: bold;
    }

    &-status {
        padding: 3px 10px;
        border-radius: 1px;
        color: #ffffff
    }
}


