.registration-section {
    margin: 150px 0;
}

:root {
    min-height: 100vh;
}

.registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s all ease-in-out;

    &__icons {
        position: absolute;
        right: 0;
        top: 10px;
    }
}

.error-message {
    top: 50px !important;
}

.success-message {
    top: 50px !important;
}

small {
    display: block;
    font-size: .8rem;
    color: #f44336;
}


.protected_input {
    border-bottom: 1px solid #f44336 !important;
    box-shadow: 0 1px 0 0 #f44336 !important;
}

.success_input {
    border-bottom: 1px solid #00c851 !important;
    box-shadow: 0 1px 0 0 #00c851 !important;
}

.protected_label {
    color: #f44336 !important;
}

.success_label {
    color: #00c851 !important;
}

.registration__button {
    width: 100%;

    &_block {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & button {
            width: 60%;
        }
    }
}

.login__password-protection {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.show {
        opacity: 1;
        transition: opacity .65s ease-in-out;
    }
}

.password-difficulty {
    background-color: gainsboro;
    width: 60%;
    &.show {
        width: 60%;
        transition: width .5s ease-in-out;
    }

    > div {
        height: 100%;
        transition: all .65s ease-in-out;
    }

    &__empty {
        width: 0%;
    }

    &__weak {
        width: 25% !important;
        background-color: #f44336;
    }

    &__common {
        width: 50%;
        background-color: #ffc107;
    }

    &__well {
        width: 75%;
        background-color: #80ba29;
    }

    &__super {
        width: 100%;
        background-color: #00c851;
    }

}

.registration-form__icons--block {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.registration__confirm-pass {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.icon__animated {
    transition: 0.3s all ease-in-out;
    margin-right: 5px;
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

span {
    font-size: .7rem;
    color: #00c851;
}


@media screen and (min-device-width: 0px) and (max-device-width: 442px) {
    .registration-section__header {
        font-size: 28px;
    }

    span {
        font-size: .5rem;
    }
}

@media screen and (min-device-width: 442px) and (max-device-width: 528px) {
    span {
        font-size: .6rem;
    }
}

@media screen and (min-device-width: 767px) and (max-device-width: 991px) {
    span {
        font-size: .5rem;
    }
}
