<div class="container" *ngIf="order$ | async as order; else loading">
    <div class="order-header">
        <span class="order-number">
            {{ "Orders.order" | translate }} #{{ order.orderNumber }}
        </span>
        <span class="order-date">
            ({{formatDate(order.createdAt)}})
        </span>
    </div>
    <div class="order-status">
        <app-order-status-tracking [orderStatus]="order.orderStatus"></app-order-status-tracking>
    </div>
    <div class="order-general__divider">
        <span>{{ "Shared.general" | translate }}</span>
    </div>
    <div class="order-customer__block">
        <h5 class="order-customer__block-title">
            {{ "Shared.customerInformation" | translate}}
        </h5>
        <div class="row">
            <div class="col-md-4">
                <h6 class="order-customer__block-item-title">
                    {{ "Shared.shippingInfo" | translate}}
                </h6>
                <div class="order-customer__block-item-info">
                    <p>{{order.name}} {{order.surname}}</p>
                    <p>{{order.country}}</p>
                    <p>{{order.state}}</p>
                    <p>{{order.city}}</p>
                    <p>{{order.address}}</p>
                    <p>{{order.index}}</p>
                    <p>{{order.phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="order-customer__block">
        <h5 class="order-customer__block-title">
            {{ "Product.productsInfo" | translate}}
        </h5>
        <div class="order-customer__block-products">
            <table class="table table-bordered">
                <thead class="table-thead">
                    <tr>
                        <th scope="col">{{"Product.product" | translate}}</th>
                        <th scope="col">{{"Product.quantity" | translate}}</th>
                        <th scope="col">{{"Product.color" | translate}}</th>
                        <th scope="col">{{"Product.size" | translate}}</th>
                        <th scope="col">{{"Order.price" | translate}}</th>
                        <th scope="col">{{"Order.subtotal" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of order.products">
                        <td>
                            <a [href]="product.mainImage" target="blank">
                                {{product.title | titlecase }}
                            </a>
                        </td>
                        <td>{{product.quantity}}</td>
                        <td>
                            <span class="color" [style.background-color]="product.color"></span>
                        </td>
                        <td>{{product.size}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.price * product.quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="order-customer__block">
        <h5 class="order-customer__block-title">
            {{ "Order.summary" | translate}}
        </h5>
        <div class="order-customer__block-summary">
            <table class="table table-bordered">
                <thead class="table-thed">
                    <tr>
                        <td style="vertical-align: inherit;">{{"Order.subtotal" | translate}}</td>
                        <td>
                            <span *ngFor="let product of order.products">{{product.price * product.quantity}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold">{{"Order.total" | translate}}</td>
                        <td class="text-bold">{{countTotalSum(order)}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<ng-template #loading>
    Loading ...
</ng-template>
