<li class="nav-item">
    <form [formGroup]="searchFormGroup" class="search-form">
        <input placeholder="{{'Shared.searchProduct' | translate}}" id="search" autofocus="true" (blur)="focusOut();" [ngClass]="{'visible': isOpen}"
            class="search-input form-control" formControlName="search" (keyup.enter)="search();" />
        <mdb-icon [ngClass]="{'visible': isOpen}" (click)="isOpen = false;" class="search-close" fas icon="times"
            size="lg"></mdb-icon>
        <mdb-icon [ngClass]="{'hidden': isOpen}" (click)="openSearch();" class="search-icon" fas icon="search"
            size="lg"></mdb-icon>
    </form>
</li>
