:host {
    margin-top: 35px;
}

.manage {
    &-filters {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &-filter {
        &__title {
            margin-bottom: 10px;
        }
    }
    &-footer {
        display: flex;
        justify-content: center;
    }
}


.page-item.active a {
    pointer-events: none;
    &:hover {
        cursor: pointer;
    }
}
