/* You can add global styles to this file, and also import other style files */
@import './app/styles/variables.scss';

body {
    font-family: $monsterrat !important;
}

.dropdown__image {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.btn.dropdown__toggle {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid lightgrey;
    min-width: 110px;
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.dropdown__toggle.dropdown-toggle::after {
    margin-left: auto;
}

.dropdown .header__dropdown {
    min-width: 0;
    transform: translate3d(0, 34px, 0) !important;
}
